<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <meta content="Green Mountain Painting - Interior and Exterior Painting and Carpentry" name="description"/>
    <meta
        content="painting,Interior and Exterior Painting,Carpentry,wallpaper,Install, sand, finish, hard wood floors, Power Washing"
        name="keywords"/>
    <title>Green Mountain Painting, LLC</title>
    <link href="styles.css" rel="stylesheet" type="text/css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script async src="/js/sidebar.js"></script>
</head>
