@charset "utf-8";
body  {
    font: 100% Verdana, Arial, Helvetica, sans-serif;
    background: #fff;
    margin: 0; /* it's good practice to zero the margin and padding of the body element to account for differing browser defaults */
    padding: 0;
    color: #000000;
}
#container {
    width: 780px;  /* using 20px less than a full 800px width allows for browser chrome and avoids a horizontal scroll bar */
    background: #F4FFE4;
    margin: 0 auto; /* the auto margins (in conjunction with a width) center the page */
    border: 1px solid #99CC66;
    padding:0 auto;
    text-align: left; /* this overrides the text-align: center on the body element. */
}
#header {
    background: #D5EDB3;
    margin:0 auto;
    padding: 0 10px 42px 0px;  /* this padding matches the left alignment of the elements in the divs that appear beneath it. If an image is used in the #header instead of text, you may want to remove the padding. */
    border-bottom:30px solid #99CC66;
}


.logoimg {
    margin:0;
    border:none;
    padding:0px;
    width:224;
    float:left;
}

.logo 	{
    margin:0;
    padding:50px 0px 25px 0px;
    font:24px Arial, Helvetica, sans-serif;
    color: #5C743D;
    letter-spacing:.2em;
    line-height:20px;
    text-align:center;
}

.tagline 	{
    font:11px Arial, Helvetica, sans-serif;
    color: #993300;
    letter-spacing:.4em;
}

h1 {
    padding:0 0 5px 0;
    font: 18px Arial, Helvetica, sans-serif;
    color: #99CC66;
    line-height:26px;
    letter-spacing:.21em;
}




#mainContent {
    margin: 0 0 0 250px; /* the left margin on this div element creates the column down the left side of the page - no matter how much content the sidebar1 div contains, the column space will remain. You can remove this margin if you want the #mainContent div's text to fill the #sidebar1 space when the content in #sidebar1 ends. */
    padding: 0 5px; /* remember that padding is the space inside the div box and margin is the space outside the div box */
    background-color:#F4FFE4;
    font:medium Arial, Helvetica, sans-serif;
    color:#666666;
}



#footer {
    clear:both;
    padding: 0 10px 5px 20px; /* this padding matches the left alignment of the elements in the divs that appear above it. */
    background:#F4FFE4;
    border-top:#fff thin solid;
    font:small Arial, Helvetica, sans-serif;
    color:#99CC66;
    font-weight:bold;
}

.fltrt { /* this class can be used to float an element right in your page. The floated element must precede the element it should be next to on the page. */
    float: right;
    margin-left: 8px;
}

#photocaption { /* this class can be used to float an element left in your page */
    float: right;
    margin: 0px;
    width: 200px;
    font-size:small;
    font-weight:bold;
    color: #5C743D;
}

.photo img {
    border:1px solid #666;
    background-color:#FFF;
    padding:4px;
}

.figure p {
    font-size:small;
    font-weight:bold;
    color: #5C743D;
    text-align:center;
    margin:0 0 0 0;
    height:1em;
}
.figure {
    float:left;
    width:225px;
    margin:0 10px 10px 0px;

}


.clearfloat { /* this class should be placed on a div or break element and should be the final element before the close of a container that should fully contain a float */
    clear:both;
    height:0;
    font-size: 1px;
    line-height: 0px;
}

#sidebar {
    float: left; /* since this element is floated, a width must be given */
    width: 190px; /* the actual width of this div, in standards-compliant browsers, or standards mode in Internet Explorer will include the padding and border in addition to the width */
    background: #5C743D; /* the background color will be displayed for the length of the content in the column, but no further */
    padding: 15px 10px 150px 10px;
    margin:0 auto;
    font: small Arial, Helvetica, sans-serif;
    line-height:16px;
    letter-spacing:.1em;
    text-decoration: none;
    font-weight:bold;
}

/*#navcontainer
{
width: 12em;
border-right: 1px solid #000;
padding: 0 0 1em 0;
border-bottom: 1px solid #F4FFE4;
margin-bottom: 1em;
font-family: Verdana, Lucida, Geneva, Helvetica, Arial, sans-serif;
background-color: #90bade;
color: #333;
}*/

#sidebar ul
{
    list-style: none;
    margin: 0;
    padding: 0;
    border: none;
}

#sidebar li
{
    border-bottom: 1px solid #fff;
    margin: 0;
}

#sidebar li a
{
    display: block;
    padding: 5px 5px 5px 0.5em;
    /*border-left: 10px solid #1958b7;
    border-right: 10px solid #508fc4;*/
    background-color: #5C743D;
    color: #D5EDB3;
    text-decoration: none;
    width: 100%;
}

html>body #sidebar li a { width: auto; }

#sidebar li a:hover
{
    /*border-left: 10px solid #1c64d1;
    border-right: 10px solid #5ba3e0;*/
    background-color: #99CC66;
    color: #993300;
}

#sidebar a:active
{
    background: #99CC66;
    color: #993300;
    font-weight:bold;
}

#sidebar li#active a
{
    background: #99CC66;
    color: #993300;
    font-weight:bold;
}

dt
{
    font-weight:bold;
    padding:2px 0 5px 0;
}

dd
{padding:0 0 10px 0;
}

.quote {
    font-size:small;
    margin:20px 45px;
    font-weight:bold;
    font-style:italic;
}
